/* OrderForm.css */

.order-form {
  width: 99%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1d2634; /* Set the background color here */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: #fff; /* Set text color to white */
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-input,
.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  background-color: #fff; /* Set background color for input/select */
  color: #333; /* Set text color for input/select */
}

.form-select {
  appearance: none;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
