/* Base styling */
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: #f5f5f5;
}

.container {
  /* max-width: 800px; */
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-right: 1px solid #eee;
}

.img-container img {
  max-width: 90%; /* Prevents image from being too big */
  height: auto;
}

.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.wellcome,
.login-text {
  color: black;
  text-align: center;
  margin-bottom: 12px;
}

.wellcome {
  font-size: 36px;
  font-weight: 700;
}

.login-text {
  font-size: 24px;
  font-weight: 600;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border 0.2s ease-in-out;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.btn-reg {
  text-align: center;
  margin-top: 10px;
}

.register-button {
  color: #007bff;
  text-decoration: none;
}

.register-button:hover {
  text-decoration: underline;
}

.login-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  appearance: none; /* Remove default arrow in some browsers */
}

/* Style for the dropdown arrow */
select::after {
  content: "\25BC"; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent the arrow from being clickable */
}

/* Style for the dropdown when it's focused */
select:focus {
  outline: none;
  border-color: #007bff; /* Change the border color when focused */
}
